@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --color-primary: #7C238C;
    --color-on-primary: white;
    --color-inactive: rgb(185, 185, 185);
    --font-general: "Lato", sans-serif;
    --val-rounded-border: 5px;
}

body {
    margin: 0;
    font-family: var(--font-general);
    font-size: 11pt;
}

button {
    cursor: pointer;
    font-family: var(--font-general);
}

button:disabled {
    cursor: auto;
}

.button {
    width: fit-content;
    padding: 4px 12px;
    font-size: 0.9em;
    color: var(--color-primary);
    outline: none;
    border-radius: 80px;
    border: 1px solid var(--color-primary);
    background: var(--color-on-primary);
    transition: 0.2s ease;
}

.button:hover:enabled {
    color: var(--color-on-primary);
    background: var(--color-primary)
}

.button:disabled {
    color: var(--color-inactive);
    border-color: var(--color-inactive);
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textarea {
    box-sizing: border-box;
    font-family: var(--font-general);
    border: solid 1px var(--color-inactive);
    border-radius: var(--val-rounded-border);
    padding: 10px;
    outline: transparent solid 1px;
    transition: 0.1s ease;
}

.textarea:focus {
    outline: var(--color-primary) solid 1px;
    border-color: var(--color-primary);
}

.toxicity-form {
    width: 50%;
    min-width: 300px;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.toxicity-form__textarea {
    width: 100%;
    resize: vertical;
}

.toxicity-form__text {
    align-self: start;
}

.toxicity-form__row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
