@import "../mixins";

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;

  &__title {
    padding-inline: 6px;
  }

  &__helpIcon {
    color: var(--color-secondary);
  }

  &__helpTooltip {
    border: none;
    border-radius: 20px;
    background: var(--color-secondary);
    padding: 20px;
    width: 300px;
    font-weight: normal;
    font-size: 1rem;
  }
}

.scoreCalcModeGroup {
  display: flex;
  align-items: center;
  gap: 10px;
}

.toggleSwitch {
  $width: 40px;
  $height: 20px;
  $padding: 2px;
  $circleSize: $height - $padding * 2;

  display: inline-block;
  position: relative;
  width: $width;
  height: $height;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .toggleSwitch__switch {
      &::before {
        transform: translateX($width - $circleSize - $padding * 2);
      }
    }
  }

  &__switch {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.2s ease-out;
    cursor: pointer;
    border-radius: $circleSize;
    background-color: var(--color-secondary);

    &::before {
      position: absolute;
      bottom: $padding;
      left: $padding;
      transition: inherit;
      border-radius: 50%;
      background-color: var(--color-match-contrast);
      width: $circleSize;
      height: $circleSize;
      content: "";
    }
  }
}

.toggleSliders {
  grid-gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.toggleSlider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 0.1s ease-out;
  cursor: pointer;
  box-shadow: makeShadow($lightOffset: -3px, $shadowOffset: 4px);
  border-radius: 25px;
  background: linear-gradient(to right bottom, rgba(black, 0.03), transparent, rgba(white, 0.05));
  width: 120px;
  height: 80px;
  color: var(--color-secondary);
  font-weight: 600;
  text-transform: uppercase;

  &--disabled {
    box-shadow: makeShadow($lightOffset: -2px, $shadowOffset: 0.5px);
  }

  &--pressed {
    box-shadow: makeShadow($lightOffset: -3px, $shadowOffset: 4px, $isInset: true);
  }

  input {
    width: 80px;
  }

  .toggleSliders {
    grid-gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.thresholdSliderBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  width: 245px;
  height: 80px;
  color: var(--color-secondary);
  font-weight: 600;
  text-transform: uppercase;
  color:rgba(black, 0.6);
  
  input {
    width: 200px;
  }
}
