@import "../mixins";

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin-top: 0;

  &__helpMenu {
    color: var(--color-secondary);
  }
}

.toggleSliders {
  grid-gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.toggleSlider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 0.1s ease-out;
  cursor: pointer;
  box-shadow: makeShadow($lightOffset: -3px, $shadowOffset: 4px);
  border-radius: 25px;
  background: linear-gradient(to right bottom, rgba(black, 0.03), transparent, rgba(white, 0.05));
  width: 120px;
  height: 80px;
  color: var(--color-secondary);
  font-weight: 600;
  text-transform: uppercase;

  &--disabled {
    box-shadow: makeShadow($lightOffset: -2px, $shadowOffset: 0.5px);
  }

  &--pressed {
    box-shadow: makeShadow($lightOffset: -3px, $shadowOffset: 4px, $isInset: true);
  }

  input {
    width: 80px;
  }
}
