@import "../variables.module.scss";

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggleSliders {
  grid-gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.toggleSlider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 0.1s ease-out;
  cursor: pointer;
  box-shadow: -3px -3px 4px 0 rgba(white, 0.5), 4px 4px 5px 0 rgba(black, 0.15);
  border-radius: 25px;
  background: linear-gradient(135deg, rgba(black, 0.03), transparent 20%, rgba(white, 0.2) 80%);
  width: 150px;
  height: 100px;

  &--disabled {
    box-shadow: none;
    color: gray;
  }
}
