@use "sass:math";

@function calcLightOffset($offset) {
  @return math.ceil($offset * 0.65);
}

@function calcShadowOffset($offset) {
  @return math.ceil($offset * 1.35);
}

@function makeShadow($lightOffset, $shadowOffset, $isInset: false) {
  $lightOffsetY: math.ceil($lightOffset * 0.65);
  $lightBlur: math.ceil(math.abs($lightOffset * 1.25));
  $shadowOffsetY: math.ceil($shadowOffset * 1.35);
  $shadowBlur: math.ceil($shadowOffset * 1.5);

  @if $isInset {
    @return 0 0 0 0 var(--color-light), 0 0 0 0 var(--color-shadow),
      inset $lightOffset $lightOffsetY $lightBlur 0 var(--color-light),
      inset $shadowOffset $shadowOffsetY $shadowBlur 0 var(--color-shadow);
  } @else {
    @return $lightOffset $lightOffsetY $lightBlur 0 var(--color-light),
      $shadowOffset $shadowOffsetY $shadowBlur 0 var(--color-shadow),
      inset 0 0 0 0 var(--color-light), inset 0 0 0 0 var(--color-shadow);
  }
}

$backgroundSurfaceOverlay: linear-gradient(
  to right bottom,
  var(--color-overlay-shadow),
  transparent,
  var(--color-overlay-light)
);

$backgroundSurfaceOverlayInset: linear-gradient(
  to right bottom,
  var(--color-overlay-light),
  transparent,
  var(--color-overlay-shadow)
);

$backgroundBorder: linear-gradient(
  to right bottom,
  var(--color-light),
  var(--color-gradient-border)
);
