$colorSurface: (
  "50": #fffefb,
  "100": #fffef6,
  "200": #fffdf0,
  "300": #fefce9,
  "400": #fefbe5,
  "500": #fefae0,
  "600": #fef9dc,
  "700": #fef9d8,
  "800": #fef8d3,
  "900": #fdf6cb,
  "A100": #ffffff,
  "A200": #ffffff,
  "A400": #ffffff,
  "A700": #ffffff,
  "contrast": #000000,
);

$colorOnSurface: (
  "50": #e6e7e7,
  "100": #c1c3c3,
  "200": #989b9c,
  "300": #6f7274,
  "400": #505456,
  "500": #313638,
  "600": #2c3032,
  "700": #25292b,
  "800": #1f2224,
  "900": #131617,
  "A100": #68c5f6,
  "A200": #37b3f3,
  "A400": #00a5f7,
  "A700": #0094de,
  "contrast": #ffffff,
);

$colorPrimary: (
  "50": #ecf5eb,
  "100": #cfe6cc,
  "200": #afd6ab,
  "300": #8fc689,
  "400": #77b96f,
  "500": #5fad56,
  "600": #57a64f,
  "700": #4d9c45,
  "800": #43933c,
  "900": #32832b,
  "A100": #ccffc9,
  "A200": #9dff96,
  "A400": #6dff63,
  "A700": #55ff49,
  "contrast": #000000,
);

$colorSecondary: (
  "50": #f5f5f8,
  "100": #e6e5ed,
  "200": #d5d4e1,
  "300": #c4c3d5,
  "400": #b8b6cc,
  "500": #aba9c3,
  "600": #a4a2bd,
  "700": #9a98b5,
  "800": #918fae,
  "900": #807ea1,
  "A100": #ffffff,
  "A200": #f8f8ff,
  "A400": #c8c4ff,
  "A700": #afabff,
  "contrast": #000000,
);

$colorError: (
  "50": #feece8,
  "100": #fccec5,
  "200": #faae9f,
  "300": #f88e78,
  "400": #f7755b,
  "500": #f55d3e,
  "600": #f45538,
  "700": #f24b30,
  "800": #f04128,
  "900": #ee301b,
  "A100": #ffffff,
  "A200": #ffefee,
  "A400": #ffc1bb,
  "A700": #ffa9a1,
  "contrast": #000000,
);

$colorError: (
  "50": #feece8,
  "100": #fccec5,
  "200": #faae9f,
  "300": #f88e78,
  "400": #f7755b,
  "500": #f55d3e,
  "600": #f45538,
  "700": #f24b30,
  "800": #f04128,
  "900": #ee301b,
  "A100": #ffffff,
  "A200": #ffefee,
  "A400": #ffc1bb,
  "A700": #ffa9a1,
  "contrast": #000000,
);