@import "mixins";
@import "variables.module.scss";

:root {
  --color-surface: #{$colorSurface};
  --color-on-surface: #{$colorOnSurface};
  --color-on-surface-dimmed: #{$colorOnSurfaceDimmed};
  --color-primary: #{$colorPrimary};
  --color-secondary: #{$colorSecondary};
  --color-error: #{$colorError};
  --color-light: #{$colorLight};
  --color-shadow: #{$colorShadow};
  --color-match-contrast: #{$colorMatchContrast};
  --font-family: "Jost", sans-serif;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --color-surface: #{$colorSurfaceDark};
//     --color-on-surface: #{$colorOnSurfaceDark};
//     --color-on-surface-dimmed: #{$colorOnSurfaceDimmedDark};
//     --color-primary: #{$colorPrimaryDark};
//     --color-secondary: #{$colorSecondaryDark};
//     --color-error: #{$colorErrorDark};
//     --color-light: #{$colorLightDark};
//     --color-shadow: #{$colorShadowDark};
//     --color-match-contrast: #{$colorMatchContrastDark};
//   }
// }

html {
  font-size: 17px;
}

body {
  margin: 20px;
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  font-size: 1rem;
}

a {
  color: var(--color-secondary);
  text-decoration: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

button {
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: makeShadow($lightOffset: -2px, $shadowOffset: 2px);
  border: none;
  border-radius: 15px;
  background-color: var(--color-surface);
  padding: 4px 14px;
  color: var(--color-primary);
  font-size: 0.9rem;

  &.secondary {
    color: var(--color-secondary);
  }
}

// Button pressed
button:active {
  box-shadow: makeShadow($lightOffset: -2px, $shadowOffset: 2px, $isInset: true);
}

input[type="checkbox"] {
  cursor: pointer;
}

input[type="range"] {
  cursor: pointer;
}

textarea {
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: makeShadow($lightOffset: -5px, $shadowOffset: 4px, $isInset: true);
  border: none;
  border-radius: 12px;
  background: var(--color-surface);
  padding: 15px;
  color: var(--color-on-surface);
  font-size: 1rem;
}

textarea:focus {
  outline: none;
  box-shadow: makeShadow($lightOffset: -2px, $shadowOffset: 2px, $isInset: true);
}
