.container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr minmax(auto, 750px) 1fr;
  grid-template-areas:
    ".        header account"
    "settings input  heatmeter"
    "settings input  heatmeter"
    ".        scores .";
  gap: 30px;
}

.header {
  grid-area: header;
  margin-bottom: 0;
  text-align: center;
}

.inputForm {
  display: flex;
  grid-area: input;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  height: 100%;

  &__textarea {
    flex-grow: 1;
    box-sizing: border-box;
    max-width: 750px;
    resize: vertical;
  }
}

.heatmeter {
  grid-area: heatmeter;
  justify-self: left;
}

.scores {
  grid-area: scores;
}

.settings {
  grid-area: settings;
  justify-self: right;
}

.submitButton {
  margin-top: 10px;
}
