@import "./mixins";

.box {
  margin-top: 20px;
  margin-right: 10%;
  border-width: 2px;
  border-color: #e6e7e7; /* #TODO: Replace hardcoded color */
  border-radius: 15px;
  background-color: #d9e0db; /* #TODO: Replace hardcoded color */
  padding: 5px;
  width: 70%;
}

.individualItem {
  margin: 1px 1px 1px 1px;
  margin: 10px;
  // border-radius: 5px;
  background-color: #f8faf9; /* #TODO: Replace hardcoded color */


  transition: 0.1s ease-out;
  box-shadow: makeShadow($lightOffset: -3px, $shadowOffset: 4px);
  border-radius: 25px;
  background: linear-gradient(to right bottom, rgba(black, 0.03), transparent, rgba(white, 0.05));
  color: var(--color-secondary);
}

.text {
  margin-left: 10%;
}

#pctg {
  color: #6f7274; /* #TODO: Replace hardcoded color */
  font-style: italic;
  font-weight: bold;
}

.inline {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

.percentageSign {
  font-size: 20;
}

.suggestionBox {
  border: 2px black solid; /* #TODO: Replace hardcoded color */
  background-color: white; /* #TODO: Replace hardcoded color */
  width: 100px;
  height: 150px;
}

.sentence:hover {
  cursor: pointer;
  color: green; /* #TODO: Replace hardcoded color */
}

.suggestButton {
  margin-left: 20px;
  border-color: #77b96f; /* #TODO: Replace hardcoded color */
  background-color: #ccffc9; /* #TODO: Replace hardcoded color */
  width: 120px;
  font-style: italic;
}

.suggestButton:hover {
  border-color: #32832b; /* #TODO: Replace hardcoded color */
}
