name: Auto format CSS files

on: [pull_request]

jobs:
  format_css:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal token
        fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: 18
        cache: "npm"
    - run: npm ci
    - name: Run ESLint
      run: npx prettier -w styles
    - name: Extract branch name
      id: branch
      run: echo "branch=$(git rev-parse --abbrev-ref HEAD)" >> $GITHUB_OUTPUT
    - name: Commit & Push changes
      uses: actions-js/push@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: ${{ steps.extract_branch.outputs.branch }}
        message: "Worflow: Format CSS"
